@import url(../base.css);

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
    cursor: pointer;
}

section{
    border: px;
    padding: 0px;
    width: 400px;
    text-align: center;
}

.hide {
    display: none;
}

