@import url(../base.css);

.cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    justify-content: center;
    border: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 50px;
    cursor: pointer;
    color: burlywood;

}

input {
    margin-top: 5px;
    margin-bottom: 15px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

section {
    border: px;
    padding: 0px;
    width: 400px;
    text-align: center;
}

.formularioInvisible {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.formularioVisible {
    opacity: 1;
    visibility: visible;
    transition: opacity 1.5s ease;
    pointer-events: auto;
    position: relative;
}

#errorDatosRegistro,
#errorDatosIngreso {
    color: red;
    font-size: 18px;
}

#registrado {
    color: green;
    font-size: 20px;
}
.title {
    width: 800px;
    margin-top: 30px;
    margin-bottom: 40px;
    color: gold;
    font-size: 100%;
}

label {
    font-style: italic;

}